body, div, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: ##3F3F37;
  background-image: url("http://bbauer.io/images/underwater.jpeg");
  background-size: cover;
  font-family: 'Oxygen', sans-serif;
}


.title-container {
  height: 4.5vh;
  background-color: #D6D6B1;
  border-bottom: 2px solid #071630;
  text-align: center;
}

.footer {
  background-color: #D6D6B1;
  border-top: 2px solid #071630;
  text-align: center;
  width: 100vw;
}
.footer p {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1em;
  color: #071630;
  display: inline-block;
}

a {
  text-decoration: none;
}

.title {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1em;
  color: #071630;
  display: inline-block;
  }

.nav {
  list-style-type: none;
  float: right;
  position: absolute;
  right: 1em;
  top: .4em;
}

.nav li {
  font-size: .8em;
  margin: .0 .5em 0 .5em;
  display: inline-block;
}

.column-left, .column-right, .column-center {
  margin-top: 6em;
  background-color: #D6D6B1;
  border-radius: 8px;
  border: 2px solid #071630;
}

.column-left {
  content: url(http://bbauer.io/images/moss-mush2.png);
  float: left;
  width: 22%;
  height: 36vw;
  margin-left: 10%;
  margin-right: 3%;
}

.column-right{
  content: url(http://bbauer.io/images/moss-mush.png);
  float: right;
  width: 22%;
  height: 36vw;
  margin-left: 3%;
  margin-right: 10%;
}

.column-center{
  content: url(http://bbauer.io/images/tree-mush.png);
  display: inline-block;
  width: 22%;
  height: 36vw;
  margin-left: 4%;
  margin-right: 3%;
}

.about, .portfolio, div .blog-post-container, .blog-post-form, .portfolio-post-form {
  white-space: pre-wrap;
  padding: 4em;
  width: 70%;
  margin: 3em auto;
  background-color: #D6D6B1;
  border-radius: 8px;
  border: 2px solid black;
}

.login, .registration{
  padding: 1em;
  left: 0;
  right: 0;
  margin: 3em auto;
  display: inline-block;
  background-color: #D6D6B1;
  border-radius: 8px;
  border: 2px solid black;
}

 .about, .portfolio {
   padding: 3em;
   margin-bottom: 17vw;  /*can't get the footer to stay down. this is a temp fix.*/

 }

 .about {
  margin-top: 30vh;
  line-height: 140%;
 }

.blog-post-form, .portfolio-post-form {
  text-align: center;
  width: 40%;
}

.portfolio-img {
  width: 100%;
}
